body{
    font-family: 'Open Sans', sans-serif;
}

.banner-container{
    background-color:#abe9be;
}
.banner-column{
    background-color:#20C997;
}
.navbar-container{
    background-color: #0D503C;
}
.about-container{
    background-color:#20C997 ;
}
.education-container{
    background-color: aquamarine;
}
.edutextcolor{
    color: #997404;
}
.circle{
    background-color:#ADB5BD  ;
    width: 150px;
    height: 150px;
    border-radius:50%;
}